<div class="row">
    <div class="col-lg-4" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col41Block') }}
    </div>
    <div class="col-lg-4" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col42Block') }}
    </div>
    <div class="col-lg-4" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col43Block') }}
    </div>
</div>
