<div class="row">
    <div class="col-lg-6" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col61Block') }}
    </div>
    <div class="col-lg-6" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col62Block') }}
    </div>
</div>
