<!-- Display Anzeigen -->
{#<div class="offset-2 col-8 offset-2">#}
{#    <ins class="adsbygoogle"#}
{#         style="display:block;"#}
{#         data-ad-client="ca-pub-6966232917900984"#}
{#         data-ad-slot="6257166565"#}
{#         data-ad-format="auto"#}
{#         data-full-width-responsive="true"></ins>#}
{#</div>#}

{#<script>#}
{#    (adsbygoogle = window.adsbygoogle || []).push({});#}
{#</script>#}