<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col31Block') }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col32Block') }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col33Block') }}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        {{  pimcore_areablock('col34Block') }}
    </div>
</div>
