<div class="row">
    <div class="col-lg-6" {% if editmode %}style="border:dashed 1px limegreen; padding:15px"{% endif %}>
        <a class="btn btn-primary" href="{{ path("index") }}">Start</a>
    </div>
</div>