<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div id="site">

    <h1>{{ pimcore_input('headline') }}</h1>
    <p>
        {{ pimcore_wysiwyg('content') }}
    </p>
</div>
</body>
</html>